name: Docker

on:
  push:
    branches:
      - master
  # Run tests for each PRs.
  pull_request: {}

env:
  IMAGE_ID: ghcr.io/${{ github.repository_owner }}/review

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run test
        run: ./test.sh

  push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    strategy:
      matrix:
        version:
          - "3.0"
          - "3.1"
          - "3.2"
          - "4.0"
          - "4.1"
          - "4.2"
          - "5.0"
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: |
          cd "review-${{ matrix.version }}" && docker build . --tag $IMAGE_ID:${{ matrix.version }}

      - name: Log into GitHub Container Registry
        run: echo "${{ secrets.DOCKER_CR_PAT }}" | docker login https://ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push tagged image to GitHub Container Registry
        run: |
          echo version=${{ matrix.version }}
          docker push $IMAGE_ID:${{ matrix.version }}

  # 最後にpushされたものにlatestが更新されるので他のタグ付きと分ける ついでにビルドもし直していいでしょ…
  push_latest:
    needs: push
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: |
          docker build . --tag $IMAGE_ID:latest

      - name: Log into GitHub Container Registry
        run: echo "${{ secrets.DOCKER_CR_PAT }}" | docker login https://ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Push latest image to GitHub Container Registry
        run: |
          docker push $IMAGE_ID:latest
